<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The Micropost App was created to practice professional-grade web application 
  development. It aims to follow the current Rails 6 conventions with test 
  suites, security standards, and other best practices.
  For more information, please check the 
  <a href="https://www.railstutorial.org/book">Ruby on Rails Tutorial book</a>.
</p>
